<div class="container-fluid" ng-controller="StartCtrl as start">
  <div id="css-carousel" class="css-carousel">
    <input class="css-carousel-active" type="radio" id="css-carousel-1" name="css-carousel" aria-hidden="true" hidden checked="checked">
    <div class="css-carousel-item" style="background:lightgrey">
      <img src="/assets/img/background.jpg" alt="First slide">
      <div class="css-carousel-caption">
        <!--h2>SECOND SLIDE <br><small>with an <i>amazing caption</i></small></h2>
        <p>Aren`t you impressed?</p-->
        <form class="form-wrapper cf">
            <input type="text" placeholder="Cari..." ng-model="search.string" ng-keypress="uniSearch($event);">
            <button type="submit" ng-click="uniSearch({keyCode:13});" class="aceh-color-bg-green">Cari</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row margined-container" style="padding-top:50px;">
    <div class="counter-up-container centered content-centered aceh-color-gold-fg">
      <h3>
      <span class="counter-up" id="recordCounterUp"></span>,
      <span class="counter-up" id="datasetCounterUp"></span>,
      <span class="counter-up" id="organizationCounterUp"></span> dan 
      <span class="counter-up" id="categoryCounterUp"></span>
      </h3>
      <a href="#/stat">Lihat statistik</a>
    </div>
  </div>
  <div class="row margined-container aceh-color-gold-bg" style="height:5px;padding:0px !important">
  </div>
  <div class="row margined-container aceh-color-lightgreen-bg" style="padding-top:50px;">
    <div class="category-container centered content-centered">
      <div class="pointer category-block aceh-color-greygreen-bg" ng-repeat="c in categories track by $index" ng-click="search.string=c.name;uniSearch({keyCode:13})">
        {{c.name}}
      </div>
    </div>
  </div>
  <div class="row margined-container" style="padding:0px !important">
    <div class="col-md-9" style="padding:30px;">
      <div ng-show="list.data && list.data.length < 1" class="content-centered animated fadeIn" style="margin-top:50px;">
          <span class="alert alert-info">Belum ada data</span>
      </div>
      <div ng-show="list.data && list.data.length > 0">
        <h4 class="aceh-color-green-fg">Dataset Terbaru</h4>
        <div class="dataset-item" ng-repeat="dataset in list.data" ng-click="start.showDataset(dataset.filename);">
          <div class="dataset-icon-container file-icon file-icon-lg">
          </div>
          <div class="dataset-info">
            <h4 class="dataset-title">{{dataset.title}}</h4>
            {{dataset.createdAt | amDateFormat:'DD-MM-YYYY HH:mm:ss'}} &nbsp;
            <span class="alert-info">&nbsp;{{dataset.totalRows}} baris&nbsp;</span>
            <span class="alert-info" ng-repeat="cat in dataset.category">&nbsp;{{cat}}&nbsp;</span>
            <p class="dataset-desc">&nbsp;{{dataset.desc}}&nbsp;</p>
          </div>
        </div>
        <div class="content-centered">
          <a href="#/dataset/list" class="btn btn-primary" style="color:white !important">Lihat semua...</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="aceh-color-greygreen-bg" style="padding-bottom:10px;">
        <div class="content-centered" ng-show="spinner.rss">
          <br><br>
          <img class="centered" src="/assets/img/spinners/spinner_64.gif" style="height:32px;">
        </div>
        <div ng-show="!spinner.rss && rssData.length > 0">
          <h4 class="rss-title">_RSS_TITLE_</h4>
          <div class="rss-container">
            <div class="rss-item" ng-repeat="item in rssData track by $index"><a href="{{item.link}}" target="_blank">{{item.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row margined-container aceh-color-lightgreen-bg footer" ng-include src="'footer.html'">
  </div>
</div>
