<div class="container-fluid" ng-controller="StartCtrl as start">

    <div id="css-carousel" class="css-carousel">
      <input class="css-carousel-active" type="radio" id="css-carousel-1" name="css-carousel" aria-hidden="true" hidden checked="checked">
      <div class="css-carousel-item" style="background:lightgrey">
        <!--div class="css-carousel-controls" aria-hidden="true">
          <label for="css-carousel-3" class="css-carousel-control prev" title="Prev">«</label>
          <label for="css-carousel-2" class="css-carousel-control next" title="Next">»</label>
        </div-->
        <img src="/assets/img/carousel/2.jpg" alt="First slide">
        <div class="css-carousel-caption">
          <!--h2>SECOND SLIDE <br><small>with an <i>amazing caption</i></small></h2>
          <p>Aren`t you impressed?</p-->
          <form class="form-wrapper cf">
              <input type="text" placeholder="Cari..." required>
              <button type="submit" class="aceh-color-bg-green">Cari</button>
          </form>
        </div>
      </div>
    
      <!--input class="css-carousel-active" type="radio" id="css-carousel-2" name="css-carousel" aria-hidden="true" hidden>
      <div class="css-carousel-item" style="background:greenyellow">
        <div class="css-carousel-controls" aria-hidden="true">
          <label for="css-carousel-1" class="css-carousel-control prev" title="Prev">«</label>
          <label for="css-carousel-3" class="css-carousel-control next" title="Next">»</label>
        </div>
        <img src="/assets/img/carousel/1.jpg" alt="First slide">
      </div>
    
      <input class="css-carousel-active" type="radio" id="css-carousel-3" name="css-carousel" aria-hidden="true" hidden>
      <div class="css-carousel-item" style="background:lightskyblue">
        <div class="css-carousel-controls" aria-hidden="true">
          <label for="css-carousel-2" class="css-carousel-control prev" title="Prev">«</label>
          <label for="css-carousel-1" class="css-carousel-control next" title="Next">»</label>
        </div>
        <img src="/assets/img/carousel/3.jpg" alt="First slide">
      </div>
    
      <ol class="css-carousel-indicators" aria-label="Carousel navigation" aria-hidden="true">
        <li>
          <label for="css-carousel-1" class="css-carousel-indicator" title="Jump to css-carousel item #1">●</label>
        </li>
        <li>
          <label for="css-carousel-2" class="css-carousel-indicator" title="Jump to css-carousel item #2">●</label>
        </li>
        <li>
          <label for="css-carousel-3" class="css-carousel-indicator" title="Jump to css-carousel item #3">●</label>
        </li>
      </ol-->
    </div>

  <div class="row margined-container" style="padding-top:50px;">
    <div class="counter-up-container centered content-centered aceh-color-gold-fg">
      <h3>
      <span class="counter-up" id="recordCounterUp"></span>,
      <span class="counter-up" id="datasetCounterUp"></span>,
      <span class="counter-up" id="organizationCounterUp"></span> dan 
      <span class="counter-up" id="categoryCounterUp"></span>
      </h3>
    </div>
    <script>
    var recordOptions = {
      useEasing : true, 
      useGrouping : true, 
      separator : ',', 
      decimal : '.', 
      suffix : ' record' 
    };
    var recordCounterUp = new CountUp("recordCounterUp", 0, 31485738394, 0, 10, recordOptions);
    recordCounterUp.start();

    var datasetOptions = {
      useEasing : true, 
      useGrouping : true, 
      separator : ',', 
      decimal : '.', 
      suffix : ' dataset' 
    };
    var datasetCounterUp = new CountUp("datasetCounterUp", 0, 875, 0, 5, datasetOptions);
    datasetCounterUp.start();
    
    var organizationOptions = {
      useEasing : true, 
      useGrouping : true, 
      separator : ',', 
      decimal : '.', 
      suffix : ' dinas/instansi' 
    };
    var organizationCounterUp = new CountUp("organizationCounterUp", 0, 34, 0, 5, organizationOptions);
    organizationCounterUp.start();

    var categoryOptions = {
      useEasing : true, 
      useGrouping : true, 
      separator : ',', 
      decimal : '.', 
      suffix : ' kategori' 
    };
    var categoryCounterUp = new CountUp("categoryCounterUp", 0, 8, 0, 5, categoryOptions);
    categoryCounterUp.start();

    </script>
  </div>
  <div class="row margined-container aceh-color-gold-bg" style="height:5px;padding:0px !important">
  </div>
  <div class="row margined-container aceh-color-lightgreen-bg" style="padding-top:50px;">
    <div class="category-container centered content-centered">
      <div class="pointer category-block aceh-color-greygreen-bg">
        Pendidikan
      </div>
      <div class="pointer category-block aceh-color-greygreen-bg">
        Kesehatan
      </div>
      <div class="pointer category-block aceh-color-greygreen-bg">
        Transportasi
      </div>
      <div class="pointer category-block aceh-color-greygreen-bg">
        Pariwisata
      </div>
      <div class="pointer category-block aceh-color-greygreen-bg">
        Pangan
      </div>
      <div class="pointer category-block aceh-color-greygreen-bg">
        Ekonomi
      </div>
      <div class="pointer category-block aceh-color-greygreen-bg">
        Kependudukan
      </div>
    </div>
  </div>
  <div class="row margined-container" style="padding:0px !important">
    <div class="col-md-9" style="padding:30px;">
      <h4 class="aceh-color-green-fg">Dataset Terbaru</h4>
      <div class="dataset-item" ng-repeat="dataset in list.data" ng-click="start.showDataset(dataset.filename);">
        <div class="dataset-icon-container"></div>
        <div class="dataset-info">
          <h4 class="dataset-title">{{dataset.title}}</h4>
          {{dataset.createdAt | amDateFormat:'DD-MM-YYYY HH:mm:ss'}} &nbsp;
          <span class="alert-info">{{dataset.totalRows}} record</span>
          <span class="alert-info">Kesehatan</span>
          <span class="alert-info">Kependudukan</span>
          <p class="dataset-desc">{{dataset.desc}} </p>
        </div>
      </div>
      <div class="content-centered">
        <a href="#/dataset/list" class="btn btn-primary" style="color:white !important">Lihat semua...</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="aceh-color-greygreen-bg" style="margin-top:15px;height:500px;">
        Sidebar
      </div>
    </div>
  </div>
  <div class="row margined-container aceh-color-gold-bg" style="height:5px;padding:0px !important">
  </div>
  <div class="row margined-container aceh-color-lightgreen-bg">
     Footer
      <div style="height:200px;"></div>
  </div>
</div>
<!-- All the ng-template should be loaded first -->
<script type="text/ng-template" id="upload-form.html">
  <form class="form-horizontal">
    <fieldset>
      <!--legend>Unggah</legend-->
      <div class="form-group">
        <label class="col-sm-4 control-label" for="title">Judul</label>  
        <div class="col-sm-8">
          <input name="title" ng-model="data.title" type="text" class="form-control input-md">
          <small><i>*Harus diisi</i></small>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="source">Sumber</label>  
        <div class="col-sm-8">
          <input name="source" ng-model="data.source" type="text" class="form-control input-md">
          <small><i>*Harus diisi</i></small>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="contact">Kontak</label>  
        <div class="col-sm-8">
        <input name="contact" ng-model="data.contact" type="text" class="form-control input-md">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="releaseFreq">Frekuensi rilis</label>
        <div class="col-sm-8">
          <select id="releaseFreq" type="text" ng-model="data.releaseFreq" name="releaseFreq" class="form-control">
            <option value="year" ng-selected>Tahunan</option>
            <option value="month">Bulanan</option>
            <option value="dateRange">Pilih tanggal</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-hide="data.releaseFreq=='dateRange'">
        <label class="col-sm-4 control-label" for="year">Tahun</label>  
        <div class="col-sm-8">
          <input name="year" ng-model="data.year" type="text" class="form-control input-md">
        </div>
      </div>
      <div class="form-group" ng-show="data.releaseFreq=='month'">
        <label class="col-sm-4 control-label" for="month">Bulan</label>  
        <div class="col-sm-8">
          <select name="month" ng-model="data.month" class="form-control input-md">
            <option value="0">Januari</option>
            <option value="1">Februari</option>
            <option value="2">Maret</option>
            <option value="3">April</option>
            <option value="4">Mei</option>
            <option value="5">Juni</option>
            <option value="6">Juli</option>
            <option value="7">Agustus</option>
            <option value="8">September</option>
            <option value="9">Oktober</option>
            <option value="10">November</option>
            <option value="11">Desember</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="data.releaseFreq=='dateRange'">
        <label class="col-sm-4 control-label" for="dateStart">Tanggal awal</label>
        <div class="col-sm-8">
          <input id="dateStart" name="dateStart" ng-model="data.dateStart" type="text" class="form-control datepicker" datepicker-popup="dd/MM/yyyy" placeholder="dd/mm/yyyy" is-open="showDateStartPicker" ng-click="showDateStartPicker=true;">
        </div>
      </div>
      <div class="form-group" ng-show="data.releaseFreq=='dateRange'">
        <label class="col-sm-4 control-label" for="dateEnd">Tanggal akhir</label>
        <div class="col-sm-8">
          <input id="dateEnd" name="dateEnd" ng-model="data.dateEnd" type="text" class="form-control datepicker" datepicker-popup="dd/MM/yyyy" placeholder="dd/mm/yyyy" is-open="showDateEndPicker" ng-click="showDateEndPicker=true;">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="level">Level</label>  
        <div class="col-sm-8">
          <select name="level" ng-model="data.level" class="form-control input-md">
            <option>Tinggi</option>
            <option>Medium</option>
            <option>Rendah</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="scope">Cakupan</label>  
        <div class="col-sm-8">
        <input name="scope" ng-model="data.scope" type="text" class="form-control input-md">
        </div>
      </div>
      <!-- Button -->
      <div class="form-group" ng-show="mode=='edit'">
        <label class="col-sm-4 control-label" for="singlebutton"></label>
        <div class="col-sm-8">
          <button ng-disabled="!data.title || !data.source" ng-click="dataset.update()" class="btn btn-inline-right btn-primary">Simpan</button>
        </div>
      </div>
      <div class="form-group" ng-hide="mode=='edit'">
        <label class="col-sm-4 control-label" for="singlebutton"></label>
        <div class="col-sm-8">
          <button ng-disabled="!data.title || !data.source" ng-hide="upload.uploadStatus=='uploading'" ngf-select="upload.upload($files, $invalidFiles)" multiple class="btn btn-inline-right btn-primary">Pilih berkas dan unggah</button>
          <button ng-show="upload.uploadStatus=='uploading' && upload.uploadPercentage < 100" class="btn btn-inline-right btn-primary">Mengunggah... {{upload.uploadPercentage}} %</button>
          <button ng-show="upload.uploadStatus!=='uploaded' && upload.uploadStatus!=='failed' && upload.uploadPercentage==100" class="btn btn-inline-right btn-primary">Memproses...</button>
        </div>
      </div>
    </fieldset>
  </form>
</script>
