<div cjass="fluid-container" ng-controller="AdminCtrl as admin">
  <div class="row animated fadeIn margined-container">
    <h1>OpenData Admin</h1>
    <ul>
      <li ng-repeat="data in list">
        {{data.title}} - {{data.createdAt}}
          <a target="_blank" href="_HOST_/api/dataset/{{data.filename}}?type=csv">CSV</a>
          <a target="_blank" href="_HOST_/api/dataset/{{data.filename}}?type=json">JSON</a>
          <a target="_blank" href="_HOST_/api/dataset/{{data.filename}}?type=xml">XML</a>
          <a target="_blank" href="_HOST_/api/dataset/{{data.filename}}?type=xlsx">XLSX</a>
      </li>
    </ul>
  </div>
</div>

<!--ALERT-->
<script type="text/ng-template" id="alertModal.html">
<div class="modal-body" style="padding-bottom:15px">
  <div class="container-fluid row">
    <br>
    {{alertData.body}}
  </div>
  <div style="height:45px;padding-bottom:15px;margin-top:15px;" ng-show="alertData.buttons && alertData.buttons.length > 0">
    <button ng-repeat="btn in alertData.buttons" class="pull-right btn-rounded btn {{btn.class}}" ng-click="btn.func();" style="margin-left:15px;">{{btn.title}}</button>
  </div>
</div>
</script>
