<div cjass="fluid-container" ng-controller="AdminCtrl as admin">
  <div class="row animated fadeIn margined-container">
    <div ng-show="mode=='list'">
      <h1>Dataset</h1>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <td>Judul</td>
            <td>Tanggal unggah</td>
            <td style="width:215px;">Pengunggah</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in list.data track by $index">
            <td>
              <span ng-show="data.status=='pending'" class="fa fa-spinner"></span>
              <span ng-show="data.status=='done'" class="fa fa-check-circle"></span>
              <span ng-show="data.status=='error' || data.error" class="fa fa-warning pointer" ng-click="admin.alert(data.error);"></span>
              &nbsp;
              <a href="" ng-click="admin.get(data.filename);">{{data.title}}</a>
            </td>
            <td>
                {{data.createdAt}}
            </td>
            <td class="content-centered">
                {{data.uploader}}
            </td>
          </tr>
        </tbody>
      </table>
	    <div class="content-centered centered">
	    	<pagination total-items="list.total" ng-model="list.page" ng-change="admin.paginate()" items-per-page="10"></pagination>
	    </div>
	  </div>
    <div ng-show="mode=='item'">
      <div class="content-centered" ng-show="spinner.dataset">
        <br><br>
        <img class="centered" src="/assets/img/spinners/spinner_64.gif" style="height:32px;">
      </div>
      <div ng-hide="spinner.dataset">
        <div class="row">
          <h1>Dataset : {{currentItem.title}}</h1>
          <div class="pull-left">
            <h4>Meta</h4>
          </div>
          <div class="pull-right" style="margin-bottom:15px;">
            <button class="btn btn-default" ng-click="mode='list'"><span class="fa fa-chevron-left"></span>&nbsp;Kembali</button>
            <button class="btn btn-default"><span class="fa fa-edit"></span>&nbsp;Sunting</button>
            <button class="btn btn-default" ng-click="admin.delete(currentItem.filename);"><span class="fa fa-trash"></span>&nbsp;Hapus</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 no-padding">
            <table class="table table-bordered table-hover" style="margin-bottom:0px !important;">
              <tbody>
                <tr>
                  <td class="bg-lightgrey" style="width:150px;">Status</td>
                  <td>
                    <span ng-show="currentItem.status=='pending'" class="fa fa-spinner"></span>
                    <span ng-show="currentItem.status=='done'" class="fa fa-check-circle"></span>
                    <span ng-show="currentItem.status=='error' || currentItem.error" class="fa fa-warning pointer" ng-click="admin.alert(currentItem.error);"></span>
                  </td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Tanggal unggah</td>
                  <td>{{currentItem.createdAt}}</td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Sumber data</td>
                  <td>{{currentItem.source}}</td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Kontak</td>
                  <td>{{currentItem.contact}}</td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Frekuensi rilis</td>
                  <td>{{currentItem.releaseFreq}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6 no-padding">
            <table class="table table-bordered table-hover" style="margin-bottom:0px !important;">
              <tbody>
                <tr>
                  <td class="bg-lightgrey" style="width:150px;">Tahun</td>
                  <td>{{currentItem.year}}</td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Bulan</td>
                  <td>{{currentItem.month}}</td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Level</td>
                  <td>{{currentItem.level}}</td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Cakupan</td>
                  <td>{{currentItem.scope}}</td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Tag</td>
                  <td>
                    - 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6 no-padding">
            <h4>Profil Pengunggah</h4>
            <table class="table table-bordered table-hover" style="margin-bottom:0px !important;">
              <tbody>
                <tr>
                  <td class="bg-lightgrey" style="width:150px;">Pengunggah</td>
                  <td>Admin</td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">SKPD / Satuan</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6 no-padding" ng-show="currentItem.status=='done'">
            <h4>Skema</h4>
            <table class="table table-bordered table-hover" style="margin-bottom:0px !important;">
              <tbody>
                <tr>
                  <td class="bg-lightgrey" style="width:150px;">Jumlah kolom</td>
                  <td>
                    {{currentItem.totalColumns}}
                  </td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Jumlah baris</td>
                  <td>
                    {{currentItem.totalRows}}
                  </td>
                </tr>
                <tr>
                  <td class="bg-lightgrey">Skema</td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" ng-show="currentItem.status=='done'">
          <div>
              <br>
              <h4>Tampilan Data</h4>
          </div>
          <hr>
          <div class="pull-right" style="width:100px;">
            <div class="btn btn-default"  style="height:33px;width:100px;padding:5px 10px;display:inline-block;position:absolute;" 
  
                dropdown-menu="limits"
                dropdown-onchange="admin.updateLimit(selected);"
                dropdown-item-label="text"
              >Limit : {{datasetQuery.limit}}
            </div>
          </div>
          <div class="pull-right" style="width:175px;margin-right:80px;">
            <div class="input-group">
              <span style="height:33px;width:33px;" class="input-group-addon pointer" ng-click="prevPageQuery()"><span class="fa fa-chevron-left"></span></span>
              <input class="form-control" type="number" style="height:33px;padding:2px 10px;width:75px;" ng-model="datasetQuery.page" ng-keypress="admin.getQuery()" ng-change="admin.getQuery();">
  
              <span style="height:33px;width:33px;" class="input-group-addon pointer" ng-click="admin.nextPageQuery()"><span class="fa fa-chevron-right"></span></span>
            </div>
          </div>
          <div style="height:33px;width:150px;padding:5px 10px;display:inline-block;position:absolute;" 
              dropdown-select="fields"
              dropdown-model="datasetQuery.searchKey"
              dropdown-item-label="text"
           >
          </div>
          <div style="display:inline-block;margin-left:160px;" class="input-group">
            
            <input class="form-control" type="text" placeholder="Cari data atau query SQL SELECT" style="height:33px;padding:2px 10px;width:300px;border-radius:3px !important;" ng-model="datasetQuery.searchString" ng-keypress="admin.getQuerySearch($event)" ng-disabled="!datasetQuery.searchKey.value">

            <span style="height:33px;width:33px;" class="input-group-addon pointer" ng-click="admin.getQuery()"><span class="fa fa-search"></span></span>
          </div>
          <hr>
          <ul class="nav nav-tabs">
            <li ng-class="{'active':viewMode=='table'}"><a href="" ng-click="viewMode='table'">Tabel</a></li>
            <li ng-class="{'active':viewMode=='graph'}"><a href="" ng-click="viewMode='graph'">Grafik</a></li>
            <li ng-class="{'active':viewMode=='map'}"><a href="" ng-click="viewMode='map'">Peta</a></li>
          </ul>
          <div class="pull-right" style="margin-top:-35px;">
            <span ng-show="currentItem.status=='done'">
              Unduh :&nbsp;
              <a target="_blank" class="alert alert-info alert-small" href="_HOST_/api/dataset/{{currentItem.filename}}?type=csv">CSV</a>
              <a target="_blank" class="alert alert-info alert-small" href="_HOST_/api/dataset/{{currentItem.filename}}?type=json">JSON</a>
              <a target="_blank" class="alert alert-info alert-small" href="_HOST_/api/dataset/{{currentItem.filename}}?type=xml">XML</a>
              <a target="_blank" class="alert alert-info alert-small" href="_HOST_/api/dataset/{{currentItem.filename}}?type=xlsx">XLSX</a>
            </span>
          </div>
          <br>
          <div class="content-centered" ng-show="spinner.datasetQuery" style="margin-bottom:15px;">
            <img class="centered" src="/assets/img/spinners/spinner_64.gif" style="height:32px;">
          </div>
          <div ng-show="viewMode=='table'" id="view-table" class="recline-read-only" style="margin-bottom: 30px; height: 500px;border:1px solid lightgrey">&nbsp;</div>
          <div ng-show="viewMode=='graph'">Coding in progress...</div>
          <div ng-show="viewMode=='map'">Coding in progress...</div>
        </div>
      </div>
	  </div>
  </div>
</div>

<!--ALERT-->
<script type="text/ng-template" id="alertModal.html">
<div class="modal-body" style="padding-bottom:15px">
  <div class="container-fluid row">
    <br>
    {{alertData.body}}
  </div>
  <div style="height:45px;padding-bottom:15px;margin-top:15px;" ng-show="alertData.buttons && alertData.buttons.length > 0">
    <button ng-repeat="btn in alertData.buttons" class="pull-right btn-rounded btn {{btn.class}}" ng-click="btn.func();" style="margin-left:15px;">{{btn.title}}</button>
  </div>
</div>
</script>
