      <div class="modal-body" style="padding-bottom:15px">
        <h3>Ganti kata sandi</h3>
        <hr>
        <fieldset>
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="title">Kata sandi lama</label>  
            <div class="col-sm-8">
            <input name="title" ng-model="currentItem.currentPassword" type="password" class="form-control input-md">
            <small><i>*Harus diisi</i></small>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="title">Kata sandi baru</label>  
            <div class="col-sm-8">
            <input name="title" ng-model="currentItem.password" type="password" class="form-control input-md">
            <small><i>*Harus diisi</i></small>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="title">Ulangi kata sandi baru</label>  
            <div class="col-sm-8">
            <input name="title" ng-model="currentItem.repeatPassword" type="password" class="form-control input-md">
            <small><i>*Harus diisi</i></small>
            </div>
          </div>
          <!-- Button -->
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="singlebutton"></label>
            <div class="col-sm-8">
              <div>
                <button class="btn btn-inline-right btn-default" ng-click="changePasswordModal.dismiss()">Batal</button>
                <button class="btn btn-inline-right btn-primary" ng-click="user.changePassword(currentItem)">Simpan</button>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
