      <div class="modal-body" style="padding-bottom:15px">
        <h3 ng-hide="currentItem._id">Tambah Pengguna / Instansi</h3>
        <h3 ng-show="currentItem._id">Sunting Pengguna / Instansi</h3>
        <hr>
        <fieldset>
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="title">Username</label>  
            <div class="col-sm-8">
            <input name="title" ng-model="currentItem.username" type="text" class="form-control input-md">
            <small><i>*Harus diisi</i></small>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="email">E-mail</label>  
            <div class="col-sm-8">
            <input name="title" ng-model="currentItem.email" type="email" class="form-control input-md">
            <small><i>*Harus diisi</i></small>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="title">Nama pengguna / instansi</label>  
            <div class="col-sm-8">
            <input name="title" ng-model="currentItem.fullName" type="text" class="form-control input-md">
            <small><i>*Harus diisi</i></small>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="title">Kata sandi</label>  
            <div class="col-sm-8">
            <input name="title" ng-model="currentItem.password" type="password" class="form-control input-md">
            <small><i>*Harus diisi</i></small>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="title">Ulangi kata sandi</label>  
            <div class="col-sm-8">
            <input name="title" ng-model="currentItem.repeatPassword" type="password" class="form-control input-md">
            <small><i>*Harus diisi</i></small>
            </div>
          </div>
          <!-- Button -->
          <div class="row form-group">
            <label class="col-sm-4 control-label control-label-right" for="singlebutton"></label>
            <div class="col-sm-8">
              <div ng-show="deleteConfirm">
                Anda yakin ingin menghapus pengguna / instansi ini?
                <button class="btn btn-inline-right btn-default" ng-click="deleteConfirm=false;">Batal</button>
                <button class="btn btn-inline-right btn-danger" ng-click="user.delete(currentItem._id)">Ya, hapus</button>
              </div>
              <div ng-hide="deleteConfirm">
                <button class="btn btn-inline-right btn-default" ng-click="userModal.dismiss()">Batal</button>
                <button class="btn btn-inline-right btn-danger" ng-click="deleteConfirm=true;" ng-show="currentUserRole=='admin' && currentItem._id && currentItem._id!=currentUserProfileId">Hapus</button>
                <button class="btn btn-inline-right btn-primary" ng-click="user.create(currentItem)">Simpan</button>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
